<html>
    <head>
        <link href="style.css"/>
    </head>
    <body>
        <h1> RecMe</h1>
        <h3> Welcome back {{name}}! You have recycled a total of {{waste}} plastic bottles this week.</h3>
        <h4> Which page would you like to navigate to?</h4>
        <ul>
            <li><a href="/survey?name={{name}}">Record Today's Data</a></li>
            <li><a href="/user?name={{name}}">My Data</a></li>
            <li><a href="/friends?name={{name}}">My Friends</a></li>
            <li><a href="/rewards?name={{name}}">My Rewards</a></li>
            <li><a href="/settings?name={{name}}">User Settings</a></li>
            <li><a href="/login">Login/Sign Up</a></li>
        </ul>
    </body>
</html>